* {
	box-sizing: border-box;
	margin: 0; 
	padding: 0;
}

body {
	text-shadow: 1px 1px 20px #000000;
	font-family: 'Raleway', sans-serif;
	background: 
	linear-gradient(
		rgba(159, 125, 124, 0.9),
		rgba(146, 167, 143, 0.45)
		), 
		url(https://wallpaperaccess.com/full/1236351.jpg)
		;
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
}

.container {
	display: flex; 
	align-items: center;
	width: 75%;
}

.overview {
	padding: 3rem;
}

.fullname {
	font-family: 'Concert One', sans-serif;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: .75rem;
	color: #f6a6b2;
}

.job-title {
	color: #ffecb8;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .95rem;
	margin-bottom: 1rem;
	font-weight: bolder;
}

.description {
	margin-top: 1.5rem;
	margin-bottom: 2rem;
	line-height: 1.75;
	color: #ffffff;
}

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

hr {
	width: 22rem;
	border: none;
	height: 2px;
	background-color: #99cccc;
	margin: 1.5rem 0;
}

a {
	color: #9af1fc;
	text-decoration: none;
}

.works {
	margin-top: 1.5rem;
	margin-bottom: 3rem;
	color: #FFC0CB;
}

.works h2 {
	font-family: 'Concert One', sans-serif;
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 1.5rem;
}

.works img {
	width: 60px;
	height: 60px;
	object-fit: cover;
	opacity: 0.75;
	margin-right: .75rem;
	box-shadow: -8px 8px rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	border: 3px solid #437dd1;

}

.works img:hover {
	opacity: 1.0;
}

.social-media a {
	color: #FFC0CB;
	margin: 0 .5rem;
	font-size: 2rem;
	opacity: .75;
}

.social-media a:hover {
	opacity: 1;
}

.ad {
	margin: .5rem;
	font-size: 1rem;
	color: #ffffff;
	letter-spacing: 2px;
}

.image-container {
	width: 100%;
	padding: 3rem;
}

.image-container img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: auto;
	display: block;
	border: 5px solid #00b2b6;
	opacity: 0.75;
	box-shadow: -10px 10px rgba(0, 0, 0, 0.5);
}

.image-container img:hover {
	opacity: 1.0;
}

@media (max-width: 980px) {
.container {
flex-direction: column;
}

.image-container {
width: 100%;
padding: 3rem 0 0;
}

.overview {
order: 1;
padding: 3rem 0;
}


main {
background:
   /* top, transparent #9C27B0 */      
   linear-gradient(
 	rgba(159, 125, 124, 0.9),
	rgba(146, 167, 143, 0.45)
   ),      
   /* bottom, image */      
   url(https://wallpaperaccess.com/full/1236351.jpg);
}

.fullname,
.job-title {
text-align: center;
}

.job-title {
font-weight: bolder;
}

.description {
text-align: center;
}

hr {
margin: auto;
}

.contact-btn {
display: block;
margin: auto;
}

.social-media {
text-align: center;
margin-top: 3rem;
}

.ad {
text-align: center;
}

.works {
text-align: center;
}



/* og linear gradient 
rgba(17, 126, 112, 0.75),
rgba(0, 88, 255, 0.45) 
bg-size: cover;
fullname pink hex color: #FFC0CB;
.job-title color: #ffc107;;
*/
